/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- PROJECT SPECIFIC CODE STARTS BELOW ----- */

body, html {
	font-size: 12pt;
	margin: 0;
	background-image: linear-gradient(to top, #001b3c, #fefaf2);
}

div.linkcontainer {
	width: 90%;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	border: 2px groove black;
	font-size: 1em;
	background-color: white;
}

div.linkcontainer:hover {
	background-color: #ffff00;
}

div.linkcontainer:hover a {
	color: #000000;
}

div.linkcontainer:active {
	background-color: #000000;
}
div.linkcontainer:active a {
	color: #ffffff;
}


a.vidlink {
}

div#vidcontainer{
	display: none;
	width: 100%;
	padding: 2em;
	margin: 0;
	background-image: black;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	z-index: 10;
}

video#vidinsert {
	width: 80%;
}

a.scanlink {
	display: block;
	padding: 2em;
	hyphen: auto;
	margin: 1em auto;
	font-size: 1em;
	background-color: #ffffff;
}

a.scanlink:hover {
	background-color: #ffff00;
}

a.scanlink:active {
	background-color: #000000;
	color: #ffffff;
}
