body, html {
	font-size: 12pt;
	margin: 0;
	background-image: url(../images/geometricblue.jpg);
	background-repeat: repeat;
}

div.linkcontainer {
	width: 90%;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	border: 2px groove black;
	font-size: 1em;
	background-color: white;
}

div.linkcontainer:hover {
	background-color: #ffff00;
}

div.linkcontainer:hover a {
	color: #000000;
}

div.linkcontainer:active {
	background-color: #000000;
}
div.linkcontainer:active a {
	color: #ffffff;
}



a.scanlink {
	display: block;
	padding: 1em;
	hyphens: auto;
	margin: 1em auto;
	font-size: 1em;
	background-color: #ffffff;
	border: 1px groove #ddd;
}

a.scanlink:hover {
	background-color: #ffff00;
}

a.scanlink:active {
	background-color: #000000;
	color: #ffffff;
}

section#headersection{ 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 2em;
}

div#headercontainer{ 
	background-color: #000000;
	font-size: 2em;
	text-align: center;
	width: auto;
	height; 100%;
	padding: 0.5em;
	margin: 0;
	color: #ffffff;
}

div#headercontainer span {
	font-weight: bold;
}

section#contentsection{ 
	position: relative;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	top: 5em;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	background-color: #ffffff;
	width: 80%;
	max-width: 1320px;
	max-height: 90%;
}

div#choosercontainer{ 
	padding: 1em;
	border-bottom: 3px groove #000000;
	margin: 0;
	width: 100%;
}
div#linkcontainer{ 
	padding: 1em;
}

div#linkbox {
	overflow: scroll;
	opacity: 100;
	margin: 1em;
}

form#scanform {
	/* width: 94%;*/
	margin: 0 auto;
	padding: 1em;
	border: 2px groove #ffffff;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	text-align: center;
}
